
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    background-color: white;
    cursor: url(collage-thot-mouse.cur),auto;
}
h1 {
    color: #f200d2;
} 
h2 {
	font-family: 'Reenie Beanie', cursive;
	color: #f200d2;

}  
p, li {
	font-family: 'Oswald', cursive;
	color: #f200d2;

} 
a:link {
  color: #f200d2;
}

a:visited {
  color: black;
}

a:hover {
  color: black;